<ion-header>
  <ion-toolbar>
    <ion-title>
      Map of Restrooms
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content onload="loginAtStart()">
  <div id="map_canvas">
    <ion-button ion-button (click)="onButtonClick()">Demo</ion-button>
  </div>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Restrooms</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let room of rooms">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label text-wrap>
        <div align=LEFT>
          <h2>{{ room.address }}</h2>
          <p>{{ room.type }}
          </p>
        </div>
        </ion-label>
        <ion-button (click)="roomDetailPage(room)" fill="outline" slot="end">Details</ion-button>
      </ion-item>
    </ion-list>
</ion-content>
