<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] = "new_item_form" (submit)="login(new_item_form.value)">
    <ion-item>
      <ion-label>Username or Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <div class="center">
      <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!new_item_form.valid">Login</ion-button>
      <ion-button (click)=toSignUp()>Sign Up</ion-button>
    </div>
  </form>
      
</ion-content>
