<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label>Username or Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
    <div class="center">
      <ion-button (click)=toProfile()>Login</ion-button>
      <ion-button (click)=toSignUp()>Sign Up</ion-button>
    </div>
      
</ion-content>
