<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Pronouns</ion-label>
      <ion-select multiple="true">
        <ion-select-option>He/Him</ion-select-option>
        <ion-select-option>She/Her</ion-select-option>
        <ion-select-option>They/Them</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
      <ion-label>Change Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
    <div class="center">
        <ion-button (click)=toProfile() class="center">Change Password</ion-button>
    </div>
</ion-content>
