<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button shape="round">Leave A Review</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h3>400 Main</h3>
    <div>
      <ion-label>
        <i>Description: Single Stall</i>
        <br /> 
        <i>Location: 400 Main, 2nd Floor, Room 212A</i>
        <br /> 
        <b>Average Rating</b> ****
      </ion-label>
    </div>
  </div>  
</ion-content>