<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button shape="round">Leave A Review</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="current_room">
          <h3>{{ current_room.address }}</h3>
          <div>
            <ion-label>
              <i> Description: {{ current_room.type }}</i>
              <br /> 
              <b>Location: </b> {{current_room.address}}, {{current_room.floor}}
            </ion-label>
          </div>
    </div>  
  
</ion-content>